#main {
    background-color: lightblue;
}
#img-div {
    display:inline-block;
    width: 100%;
    margin-right: 20px 20px 20px 20px;
  }
 
ul { display: inline-block; text-align: left; }
h1 {
    font-size: 60px;
}
h2 {
    padding-top: 60px;
    padding-bottom: 10px;
}
#title{
    text-align: center;
    }